<div class="whole-page-container-jobs">
<div class="whole-page-container-jobs">
<%= image_tag "background-ribbons/background-gradient-01.png", :class => "background-gradient-jobs"%>
  
  <h1 class="jobs-index-title">Check out our Live Gigs!</h1>

  <div class="container d-flex justify-content-center ">
    <div class="form-search">

          <%= simple_form_for :search, url: search_path,
          method: :post, remote: true, id:"search-form", html:{class:"m-3 w-100"} do |f| %>
           <div class = "search-bar">
              <div id="first-search-box">
                <%= f.input :query, input_html: {class: "form-control", value: params.dig(:search, :query) },
                  label: false,
                placeholder: "Find a Company/Role"
                %>
              </div>
              <div id="second-search-box">
                <%= f.input :industry, collection: Job.pluck(:industry).uniq.sort, prompt: 'Select Industry',selected: params.dig(:search,:industry), label: false %>
              </div>
              <div class = "d-flex align-items-start ml-1 mt-1">
            <%= f.input :paid, as: :boolean, checked_value: true, unchecked_value: false, input_html: {value: params.dig(:search, :paid), class: 'paid_btn'}, label: 'paid' %>
            <%= f.input :location, as: :boolean, checked_value: true, unchecked_value: false, input_html: {value: params.dig(:search, :location) == "true", class: 'remote_btn ml'}, label: 'remote' %>
              </div>
                <%= f.submit  "Search", class: "btn btn-primary search-btn ml-3 align-self-start" %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <p class = "d-flex justify-content-center" > Your search has <%= @jobs.total_count %> results</p>
  </div>
  <div class="container">
      <div id="jobs" class = "flex-row justify-content-start ">
        <% @jobs.each do |job| %>
          <div class="card d-flex card-job">
            <% if job.logo.present? %>
              <%= image_tag job.logo %>
            <% else %>
              <%= image_tag "exp-logo/logo-01.png" %>
            <% end %>
                  <div class="card-body-exp">
                    <div class="d-flex justify-content-between">
                    <p class = "title-job"> <%= icon('fas', 'crown') %> <%=job.title%> </p>
                    <%= link_to toggle_favorite_path(job, ids: params[:ids]), method: :post, remote: true do %>
                      <% if !job.favorited_by?(current_user) %>
                      <i style="font-size: 28px" class="far fa-heart"></i>
                      <% else %>
                      <i style="font-size: 28px" class="fas fa-heart"></i>
                      <% end %>
                    <% end %>
                  </div>
                    <p class = "title-job"> <%= icon('fas', 'building') %> <%=job.company_name%> </p>
                    <p class = "title-job"> <%= icon('fas', 'money-bill') %> <%=job.compensation == 0 ? "Unpaid":job.compensation %></p>
                    <p class = "title-job"> <%= icon('fas', 'map-marker') %> <%=job.location%> </p>
                    <p class = "title-job"> <%= icon('fas', 'industry') %> <%=job.industry%> </p>
                    <%= link_to "Find out more", job_path(job), class: "btn btn-success d-flex justify-content-center apply-btn-jobs"%>

                  </div>
              </div>
        <% end %>
      </div>
      <% if @jobs.last_page?  %>
        <div>
          <h3 class="end-of-jobs">That's all the jobs that match your criteria. Please reset your filters for more gigs.</h3>
        </div>
      <% end %>
      <div class="paginate">

        <p><%= page_entries_info @jobs %></p>
        <p><%= paginate @jobs %></p>
      </div>
  </div>
</div>

<% if params[:scroll].present? %>
  <script>
    document.addEventListener('turbolinks:load', () => {
      if (localStorage['scroll']) {
        window.scroll({ top: localStorage['scroll'], behavior: 'auto'})
      }
    })
  </script>
<% end %>
<script>
  document.addEventListener('turbolinks:load', () => {
    window.addEventListener('scroll', () => {
      localStorage['scroll'] = window.scrollY;
    })
  });
</script>

