
<div class="container">
    <div id="jobs" class = "flex-row">
      <% @jobs.each do |job| %>
            <div class="card d-flex card-job">
                <%= image_tag job.logo %>
                <div class="card-body mb-3">
                  <h4 class="card-title job-title"> <%=job.title%> </h4>
                  <h6 class="card company-name"> <%=job.company_name%> </h6>
                  <p class="card description"> <%=job.description%></p>
                  <%= link_to "Apply", job_path(job), class: "btn btn-success d-flex justify-content-center apply-btn-jobs"%>
                </div>
            </div>
      <% end %>
    </div>
</div>