<div class="bg-image">
  <div class="container container-show">
    <%# <%= image_tag 'background-ribbons/background-gradient-01.png', class: "bg-wave" %>
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="white-box d-flex justify-content-between">
          <h1><%= @job.title %></h1>
          <%= link_to toggle_favorite_path(@job, showpage: true), method: :post, remote: true do %>
            <% if !@job.favorited_by?(current_user) %>
              <i style="font-size: 28px" class="far fa-heart"></i>
            <% else %>
              <i style="font-size: 28px" class="fas fa-heart"></i>
            <% end %>
          <% end %>
        </div>
        <div class="white-box">
          <h2>The mission:</h2>
          <p><%= @job.description %></p>
        </div>
        <div class="white-box">
          <h2>Additional info:</h2>
          <div class="last-box">
            <div class="job-info">
              <p>Start: <%= @job.start_date %></p>
              <p><%= icon('fas', 'star') %>  <%= @job.industry %> </p>
            </div>
            <div class="job-info">
            <p>End: <%= @job.end_date %></p>
              <p><%= icon('fas', 'map-marker') %>  <%= @job.location %></p>
            </div>
            <div class="job-info">
              <% if @job.paid %>
              <p><%= icon('fas', 'money-bill') %>  Loot: £<%= @job.compensation %> per week</p>
              <p><%= icon('fas', 'arrow-up') %>  Level Up: <%= @exp_score.sum(:exp_value) %>  <%= @job.industry %> </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <button id="sweet-alert-demo"><% if @job.accepting_applications %>
          <%= link_to "#{current_user.applications.find_by(job_id: @job.id) ? "Applied!" : "Apply"}",
            job_applications_path(job_id: @job.id),
            method: :post,
            class: "btn cta-purple-button-jobs-show #{current_user.applications.find_by(job_id: @job.id) ? "disabled" : "canApply"}" %></button>
        <% else %>
          <a class="btn apply-btn disabled" href="#">Closed</a>
        <% end %>
        <div class="white-box">
          <% if @job.logo.present? %>
            <%= image_tag @job.logo %>
          <% else %>
            <%= image_tag "exp-logo/logo-01.png" %>
          <% end %>
          <h4> <%= @job.company_name %></h4>
          <p><b>About the clan:</b> <%= @job.about %></p>
          <p><%= link_to "Company website", @job.website, target: '_blank' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
