<div class="py-5 sign-up-background">
<div class="form-card">
<div>
<h2>Edit Profile</h2>

<%= simple_form_for(@user) do |f| %>
<div class="form-inputs" style="width: 100%;">
<%= f.input :name %>
<%= f.input :desired_industry %>
<%= f.input :profile_description, as: :text, :input_html => {:rows => 5} %>
<%= f.input :linked_in %>
<%= f.input :twitter_url %>
<%= f.input :photo, as: :file %>
</div>
<div class="form-actions" >
<%= f.button :submit, "Update Profile", class: "btn btn-primary form-btn-100" %>
</div>
<% end %>

</div>
</div>
</div>
