<div class="profile-card-border-radius card m-4">
  <div class="profile-background">
  </div>
  <div class="flex-row d-flex justify-content-between mx-5 prof-position">
    <div  style="width: 40%;">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :fill, class: "profile-img" %>
      <% else %>
        <%= image_tag 'blank-profile-picture.jpg', height: 200, width: 200, crop: :fill, class: "profile-img" %>
      <% end %>
       <div class="profile-info">
        <h3><%= @user.name.present? ? @user.name : "Octopus3000" %> <%= %></h3>
        <a class="social-links" href="https://<%= @user.linked_in %>"><i class="fab fa-linkedin"></i></a>
        <a class="social-links" href="https://<%= @user.twitter_url %>"><i class="fab fa-twitter"></i></a>
        <p>Desired industry:<strong> <%= @user.desired_industry%> </strong></p>
        <p> <%= @user.profile_description %> </p>
      </div>
    </div>
    <div class=" exp-panel profile-exp-points prof-position">
      <%= image_tag "exp-logo/logo-01.png", class:"img-fluid" %>
      <% if @exp_scores.empty? %>
        <p>No missions Completed</p>
        <%= link_to "Find a Gig", jobs_path, class: "cta-purple-button-profile" %>
      <% else %>
        <h1 class="mt-4"style="font-size: 80px;"><%= @exp_scores.count  %> </h1>
        <p class="mission">Missions completed!</p>
      <% end %>
      <div class="bars">
        <% @exp_scores.group(:industry).sum(:exp_value).each do |key, value| %>
          <p><%= key %></p>
          <div class="progress-bar">
            <span class="level" style="--to-width: <%= ((value/10).to_s.concat("%")) %>"><%= value %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @user == (current_user) %>
    <%= link_to edit_user_path(@user) do %>
      <i class="fas fa-edit edit-bottom-right" style="font-size: 20px; text-align: right;"></i>
    <% end %>
  <% end %>
  </div>
    <div class="profile-card-border-radius card m-4">
      <h4 class="my-4 ml-3">Completed Missions</h4>
      <% if @exp_scores.any? %>
        <p class="ml-3"><%= @user.name %> has <%= @exp_scores.sum(:exp_value) %> EXP points</p>
        <div class="d-flex flex-row justify-content-start flex-wrap">
          <% @exp_scores.each do |score| %>
            <div class="completed-jobs">
              <%= icon('fas', 'crown') %>
              <h3><%=score.exp_value%></h3>
              <p><%= score.industry %></p>
              <%= link_to "More info", job_path(id: score.job.id) %>
            </div>
          <% end %>
        </div>
      <% else %>
      <p>No missions completed yet. Time to complete some missions.</p>
      <%= link_to "Find a Gig", jobs_path, class: "cta-purple-button-mission" %>
      <% end %>
    </div>
  <div class="profile-card-border-radius card m-4">
    <h4 class="mt-4 ml-3">Favourited Jobs</h4>
      <% if @favorites.empty? %>
        <p>You have no favourites yet.</p>
        <%= image_tag 'favourite.svg', class:"favourites-img" %>
      <% else %>
    <div class="jobs-profile d-flex flex-row justify-content-start flex-wrap">
        <% @favorites.each do |favorite| %>
          <div class="card d-flex card-job" style="width:202px;">
              <%= image_tag favorite.logo, class:"logo-img" %>
              <div class="card-body profile-card">
                <p style="font-size: 16px;"> <%= icon('fas', 'crown') %> <%=favorite.title%> </p>
              </div>
          </div>
        <% end %>
      <% end %>
  </div>
  </div>
  <% if @applications.any? %>
    <div class="profile-card-border-radius card m-4">
      <h4 class="mt-4 ml-3">Applications:</h4>
      <div class="jobs-profile d-flex flex-row justify-content-start flex-wrap">
        <% @applications.each do |application| %>
          <div class="card d-flex card-job" style="width:202px;">
            <%= image_tag application.job.logo, class:"logo-img" %>
            <div class="card-body profile-card">
              <p style="font-size: 16px;"> <%= icon('fas', 'crown') %> <%=application.job.title%> </p>
              <% if application.status %>
              <p class="status-applied">Status: <%= application.status %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
