<div class="whole-page-container">
  <div class="top-popout-banner">
  <%= image_tag "popout-text/findajobgetexp-01.png", :class => "find-a-gig"%>
  </div>
  <div class="cta-banner">
    <div class="green-background">
      <%= image_tag "exp-app-mockup-phone/app-mockup-gradient-with-daggers-01.png", :class => "app-mockup"%>
      <div class="central-cta">
        <%= link_to "Find Gigs", jobs_path, class: "cta-purple-button" %>
        <div class="cta-explainer">
          <h1>Catch 22 for Under-30s</h1>
          <p class="paragraph-normal-font">Can't start a career without experience, yet can't get experience without a job?</p>
          <p class="paragraph-heavy-font">Complete short gigs with leading startups for EXP!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="top-gigs-banner">
    <div class="green-background">
      <%= image_tag "background-ribbons/floating-balls-01.png", :class => "floating-balls"%>
      <div class="top-gigs-box">
          <h1>Top Gigs</h1>
          <%= link_to jobs_path, class: "top-job-box", id:"top-job-box-01" do %>
            <div class="top-job-inner" id="top-job-leftmost-inner">
              <%= image_tag "color-fake-logos/earth-2.png", class: "top-gigs-logo"%>
            </div>
            <div class="top-job-inner" id="top-job-middle-inner">
              <div class="top-job-inner-upper-box">
              <h3 class="weighted-h3">Earth 2.0</h3>
              </div>
              <div class="top-job-inner-lower-box">
              <h3 class="weightless-h3">Marketing Intern</h3>
              </div>
            </div>
            <div class="top-job-inner" id="top-job-rightmost-inner">
              <div class="top-job-inner-upper-box">
              <h3 class="weighted-h3">£350 p.w.</h3>
              </div>
              <div class="top-job-inner-lower-box">
              <h3 class="weightless-h3">London</h3>
              </div>
            </div>
          <% end %>
          <%= link_to jobs_path, class: "top-job-box", id:"top-job-box-02" do %>
            <div class="top-job-inner" id="top-job-leftmost-inner">
              <%= image_tag "color-fake-logos/atica.png", class: "top-gigs-logo"%>
            </div>
            <div class="top-job-inner" id="top-job-middle-inner">
              <div class="top-job-inner-upper-box">
              <h3 class="weighted-h3">Atica</h3>
              </div>
              <div class="top-job-inner-lower-box">
              <h3 class="weightless-h3">2-Week Data Analyst</h3>
              </div>
            </div>
            <div class="top-job-inner" id="top-job-rightmost-inner">
              <div class="top-job-inner-upper-box">
              <h3 class="weighted-h3">Transport Only</h3>
              </div>
              <div class="top-job-inner-lower-box">
              <h3 class="weightless-h3">Stockholm</h3>
              </div>
            </div>
          <% end %>
          <%= link_to jobs_path, class: "top-job-box", id:"top-job-box-03" do %>
            <div class="top-job-inner" id="top-job-leftmost-inner">
              <%= image_tag "color-fake-logos/kanba.png", class: "top-gigs-logo"%>
            </div>
            <div class="top-job-inner" id="top-job-middle-inner">
              <div class="top-job-inner-upper-box">
              <h3 class="weighted-h3">Kanba</h3>
              </div>
              <div class="top-job-inner-lower-box">
              <h3 class="weightless-h3">Front-End Webdev Intern</h3>
              </div>
            </div>
            <div class="top-job-inner" id="top-job-rightmost-inner">
              <div class="top-job-inner-upper-box">
              <h3 class="weighted-h3">€460 p.w.</h3>
              </div>
              <div class="top-job-inner-lower-box">
              <h3 class="weightless-h3">Amsterdam</h3>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="companies-we-love-banner">
    <div class="green-background">
    </div>
  </div>
</div>
